.card{
  border-bottom: 5px solid #eaeaea;
  position: relative;
}
// .card:last-child{
//   border-bottom: transparent;
// }
.card-color-id{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: red;
}
.card-color-id{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: #c6c5ca;
}

.status-color--red{
  background-color: red;
}

.status-color--green{
  background-color: green;
}

.status-color--orange{
  background-color: #f6b559 ;
}

.dot{
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #50727b;
  margin-bottom: 8px
}

.dot:last-child{
  margin-bottom: 0;
}

.reset-padding{
  padding: 0!important;
  margin: 0;
}
.btn-custom{
  border: 1px solid #a9bbcf;
  color: #97aab1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.btn-custom:hover{
  background-color: transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}


.job-status-color{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #c6c5ca;
  margin-right: 5px;
}

.link-row{
  display: flex;
  align-items: center;
}


.images-row{
  display:flex;
  position:relative;
}
.staff-person{
  display: flex;
  align-items: center;
}

.staff-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #eaeaea;
}

.stf-img{
  max-width: 100%;
  border-radius: 50%;
}

.staff-name{
  display: none;
}

.staff-image{
  position: absolute;
}

.staff-image--first{
  z-index: 99;
}


.staff-image--second{
  left: 10px;
  z-index: 98;
}

.staff-image--third{
  left: 15px;
  z-index: 97;
}

span{
  cursor: pointer;
}
